<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/main.css">
        <title>Password Generator</title>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
    </head>
    <body>
        <div class="nicelayout">
            <div class="nicepane">
                {{{body}}}
            </div>
        </div>
    </body>
</html>