* {
    user-select: none;
}

#passwordlist {
    border-spacing: 5px;
}

.textTd {
    user-select: text;
    padding-left: 20px;
}

.copyBtn {
    width: 80px;
}

#optionsForm {
    text-align: left;
}

.passwordListEntry {
    user-select: text;
    padding: 10px;
    margin: center;
}

html {
    width: 100%;
}

h1 {
    text-align: center;
}

.box {
    background-color: rgba(0, 0, 0, 30);
    border-top: 6px solid #b0b0b0;
    border-bottom: 6px solid #b0b0b0;
    padding: 10px;
}

#genBtn {
    margin: 30px;
}

textarea {
    outline: none;
    resize: none;
}